.Navbar_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0.5% 4%;
    background: white;
    box-sizing: border-box;
    box-shadow: 1px 0px 2px;
    flex-wrap: wrap;
}


.third{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2;
    min-width: 24%;
}

.third>div{
    font-size: 14px;
    font-weight: 500;
}

.Navbar_language{
    margin-left: 7%;
}

.Navbar_login{
    margin-left: 6%;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 0.7%;
    box-shadow: 0px 0px 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    width : 70px;
    background: transparent;
}

.Navbar_login:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 4px rgb(59, 58, 58);
}

.Navbar_menu{
    position: absolute;
    top : 95px;
    right : 65px;
    width : 240px;
    padding-top : 0.3%;
    padding-bottom: 0.3%;
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 0px 3px black;
}

.Navbar_menu:nth-child(1){
    background-color: red;
}

.Navbar_menu div {
    margin-top : 2%;
    margin-bottom : 2%;
    padding: 5%;
}

.Navbar_menu div:hover{
    background-color: rgb(233, 232, 232);
    cursor: pointer;
 }



