.search-bar{
    display: flex;
    box-shadow:0 0 5px hsl(0 0% 78%);
    width: 60%;
    height: 70%;
    border-radius: 100vw;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: 2%;
}

/* .search-bar button{
    border-radius:inherit;
    padding:0.8rem 1.5rem;
    transition:background 250ms ease;
} */




/* .search-bar>button{
    border: none;
}

.location{
    width:34%;
    overflow:hidden;
  }
  .check-in, .check-out, .guests{
    width:22%;
    overflow:hidden;
  }

  .guests{
    position: relative;  
  }

  To set input field border
  button > div{
    background:none;
    border:none;
    padding:0.2rem;
  }

  /* vertical bars */
  /* .search-bar>button::before{
    position:absolute;
    content:"";
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:55%;
    background:hsl(0 0% 90%);
  } */

  /* partition lines hover disappear*/
  /* .search-bar > button :hover::before{
    background-color: transparent;
  }

  .search-bar button:hover{
    background:hsl(0 0% 94%);
  }   */