:root{
  --smokywhite:hsl(0 0% 78%);
}

.search-bar{
    display: flex;
    box-shadow:0 0 5px var(--smokywhite);
    width: 50%;
    height: 70%;
    border-radius: 100vw;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    margin: 0.75rem 13%;
}

.search-bar > button{
  width: 52%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.searchbar_line{
  width : 1.2px;
  height : 25px;
  background-color: rgb(189, 186, 186);
}

